html {
    font-family: "Times New Roman", Times, serif;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

#about {
    background-color: #f1c40f;
}


#form {
    background-color: #ecf0f1;
}


#profile {
    background-color: #3498db;
}

#profile table {
    margin: auto;
}

#ol {
    background-color: #e74c3c;
}


#ul {
    background-color: #1abc9c;
}
