html {
    font-family: "Times New Roman", Times, serif;
}

@keyframes change-color {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


#home {
    height:100vh;
}

.home-text {
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#about {
    background-color: #ecf0f1;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s;
}

img:hover {
    width: 200px;
    height: 200px;
}

#transform {
    background-color: #ecf0f1;
}

#rotate {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: rotate(25deg);
}

#scale {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: scale(0.5);
}

#skew {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: skew(5deg);
}

#translate {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: translateX(10px);
}

#perspective {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: perspective(100px) rotateX(45deg);
}

#animation {
    background-color: red;
    width: 100px;
    height: 100px;
    animation-name: change-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#form {

}


footer {
    background-color: #34495e;
    color: white;
}



